@font-face {
    font-family: 'Inter';
    src: url(/Inter-VariableFont_slnt,wght.ttf) format('truetype');
    font-display: swap;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.darko {
    filter: brightness(95%);
}

.fakeButton {
    display: block;
    text-decoration: none;
    color: black;
    cursor: default;
    font-size: 13.3333px;
    text-align: center;
}

button, .fakeButton {
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    background-color: #FFD7D7;
    transition: background 0.3s;
}

button:hover, .fakeButton:hover {
    background-color: #FFC2C2;
}

button:active, button.true, .fakeButton:active, .fakeButton.true {
    background-color: #FFACAC;
}

input[type="radio"] {
    margin-right: 8px;
}

body {
    background-color: #FFEDED;
}

.opacitied {
    overflow-y: hidden;
}

.opacitied > .opacitier {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 80%;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFDDDD;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}

.dialog > .radio {
    padding: 20px;
}

.dialog > .buttons {
    display: flex;
    column-gap: 8px;
}

nav {
    display: inline-flex;
    align-items: center;
    background-color: #FFDDDD;
    padding: 12px 20px;
    width: calc(100% - 40px);
}

nav > a {
    margin-right: 20px;
}

nav > ul {
    display: inline-flex;
    column-gap: 20px;
    align-items: center;
    width: 100%;
}

nav > ul > li {
    list-style: none;
}

nav > a, nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > ul > li > a.normalMenuItems:hover {
    text-decoration: underline !important;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    flex-direction: column;
    background-color: #FFDDDD;
    width: 100%;
    height: calc(100% - 72px);
}

.mobileMenu > li {
    width: 100%;
}

.mobileMenu > li > button, .mobileMenu > li > a {
    padding: 20px;
    font-size: 24px;
}

.mobileMenu > li > button {
    width: 100%;
}

.menuButton {
    padding: 8px;
    margin-right: 20px;
    display: none;
}

.menuButton > svg {
    width: 20px;
    height: 20px;
}

.userContainer {
    margin-left: auto;
    position: relative;
}

.userContainer > button {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.userContainer > button > img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.userMenu {
    position: absolute;
    z-index: 1000;
    width: 200px;
    right: 0;
    border-top: 1px solid black;
}

.userMenu > li {
    list-style: none;
    width: 100%;
}

.userMenu > li > button {
    width: 100%;
}

main {
    padding: 20px;
}

.contributorsUl {
    margin-left: 40px;
}

.contributorsUl > li {
    margin-top: 8px;
}

.guildsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.guildsList > a {
    color: black;
    text-decoration: none;
}

.guildsList > a:hover > div {
    background-color: #FFC2C2;
}

.guildsList > a:active > div {
    background-color: #FFACAC;
}

.guildsList > a > div {
    display: flex;
    flex-direction: column;
    background-color: #FFD7D7;
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;
    max-width: 400px;
    align-items: center;
    text-align: center;
    transition: background 0.3s;
}

.guildsList > a > div > img {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
}

.leaderboardBanner {
    background-color: #F5C5C5;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: linear-gradient(180deg, #F5C5C5 50%, #000000a1 100%);
    color: white;
    display: flex;
    align-items: flex-end;
}

.leaderboardBanner > div {
    padding: 20px 20px 12px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
    position: relative;
}

.leaderboardBanner > div > img {
    width: 128px;
    height: 128px;
    border-radius: 10px;
}

.leaderboardBanner > div > div {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px 20px;
    display: flex;
    column-gap: 8px;
}

.leaderboardContainer {
    display: flex;
    align-items: flex-start;
}

.leaderboardContainer > .players {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}

.leaderboardContainer > .players > div {
    display: flex;
    align-items: center;
    background-color: #FFD7D7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.leaderboardContainer > .players > div > h3 > b {
    color: #816D6D;
}

.leaderboardContainer > .players > div > .rankCircle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
}

.gold {
    background-color: #FFB74B;
}

.silver {
    background-color: #D4D4D4;
}

.bronce {
    background-color: #705227;
    color: white;
}

.normal {
    background-color: #F9F9F9;
}

.leaderboardContainer > .players > div > img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.leaderboardContainer > .players > div > .right {
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.leaderboardContainer > .players > div > .right > .levelProgress {
    width: 64px;
    height: 64px;
}

.leaderboardContainer > .rightyContainer {
    margin: 20px 0 10px 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.leaderboardContainer > .rightyContainer > .righty {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFD7D7;
}

.leaderboardContainer > .rightyContainer > .righty > h2 {
    margin-bottom: 10px;
}

.leaderboardContainer > .rightyContainer > .righty > h4 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .mobileMenu {
        display: block;
    }

    .menuButton {
        display: block;
    }

    nav > a:hover {
        text-decoration: none;
    }

    .normalMenuItems {
        display: none;
    }

    .userContainer > button {
        padding: 8px;
    }

    .userContainer > button > h3 {
        display: none;
    }

    .userMenu {
        display: none;
    }

    .leaderboardBanner > div > div {
        display: none;
    }

    .leaderboardContainer {
        flex-direction: column-reverse;
    }

    .leaderboardContainer > .players {
        width: 100%;
    }

    .leaderboardContainer > .players > div > h3 {
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .leaderboardContainer > .players > div > .right {
        display: none;
    }

    .leaderboardContainer > .rightyContainer {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
}